<h1>Calculator</h1>

<form action="{{ path('acme_calculatorui_compute') }}">
    <label for="left">Opérande gauche</label>
    <input type="text" name="left" id="left" />

    <select name="operator">
        {% for id,label in operators %}
            <option value="{{ id }}">{{ label }}</option>
        {% endfor %}
    </select>

    <label for="right">Opérande droite</label>
    <input type="text" name="right" id="right" />

    <button>compute</button>
</form>